<h1>Cases</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Subject</th>
      <th>Status</th>
	  <th>Labels</th>
    </tr>
  </thead>

  <tbody>
    <% @desk_cases.each do |desk_case| %>
      <tr>
      	<td><%= desk_case["id"] %></td>
     	<td><%= desk_case["type"] %></td>
     	<td><%= desk_case["subject"] %></td>
      	<td><%= desk_case["status"] %></td>
        <td>
        <% desk_case["labels"].each do |label| %>
		  <span><%= label %></span><br/>
		<% end %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
