<h1>Cases</h1>

<%= form_tag("/desk_cases/append_label", method: "post") do %>

<% if @show_labels %>

	<%= select_tag(:label, options_for_select(@label_option_array)) %>
	
	<%= submit_tag("Append Label") %>

<% end %>

<table border="1">
  <thead>
    <tr>
      <th>&nbsp;&nbsp;&nbsp;</th>
      <th>Type</th>
      <th>Subject</th>
      <th>Status</th>
	  <th>Labels</th>
    </tr>
  </thead>

  <tbody>
    <% @desk_cases.each do |desk_case| %>
      <tr>
      	<td>
      	  <% if @show_labels %>
		    <%= check_box_tag("case_id[]", desk_case.id) %>
		  <% else %>
		    <%= desk_case.id %>
		  <% end %>
		</td>
     	<td><%= desk_case.type %></td>
     	<td><%= desk_case.subject %></td>
      	<td><%= desk_case.subject %></td>
        <td>
        <% desk_case.labels.each do |label| %>
		  <span><%= label %></span><br/>
		<% end %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<br>
