<h1>Cases</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Subject</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @desk_cases.each do |desk_case| %>
      <tr>
      	<td><%= desk_case["id"] %></td>
     	<td><%= desk_case["type"] %></td>
     	<td><%= desk_case["subject"] %></td>
      	<td><%= desk_case["status"] %></td>

<!--
        <td><%= link_to 'Show', desk_case %></td>
        <td><%= link_to 'Edit', edit_desk_case_path(desk_case) %></td>
        <td><%= link_to 'Destroy', desk_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Desk case', new_desk_case_path %>
