<!DOCTYPE html>
<html>
<head>
  <title>Deskapp - Desk.com API Demo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container" class="container">
<div id="nav" class="nav">
  <a href="/"><span style="padding: 5px">Home</span></a>|
</div>

<div id="main" class="main">

<% if flash[:error] %>
  <p class="error"><%=h flash[:error] %></p>
<% elsif flash[:notice] %>
  <p class="notice"><%=h flash[:notice] %></p>
<% end %>

<%= yield %>

</div>

<div id="logo_container" class="logo_container">
<!--
<img src="http://www.desk.com/resources/_v3/css/img/desk-logo.png"></img>
-->
</div>

</div>

</body>
</html>
